@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Hero-section {
  background: url("../public/hero-bg.jpg");
  height: 88vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
